<h1>Authors</h1>
<%= link_to "create new author", new_author_path %>
<% @authors.each do |author| %>

    <h3> <%= link_to author.first_name + " " + author.last_name,author_path(author) %> </h3>
    


<% end %>